*~
*.bak
*.pyc
Thumbs.db
*.class
!MainActivityKt$KeyMeta.class
!ThemeKt$KeyMeta.class
*.DS_Store
test-temp
tools-base
/out
.knownPackages
**/stale_outputs_checked
**/testData/KotlinDsl/.gradle
.idea/google-java-format.xml
.idea/inspectionProfiles
.idea/ktfmt.xml
/tools-base