*~
*.bak
*.pyc
Thumbs.db
*.class
!MainActivityKt$KeyMeta.class

*.DS_Store
test-temp
tools-base

.knownPackages
**/stale_outputs_checked

/google-java-format.xml
.idea/inspectionProfiles
.idea/ktfmt.xml
/tools-base
